# Documentation on how to configure the bundle can be found at: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    resolvers:
        default:
            web_path: ~
    filter_sets:
        squared_thumbnail_small:
            quality: 75
            filters:
                thumbnail:
                    size: [200, 200]
                    mode: outbound