<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; padding: 20px;">
    <h1 style="color: #333;">Cliquez sur le lien</h1>

    <p style="color: #555;">Pour réinitialiser votre mot de passe, veuillez vous rendre sur le lien suivant.</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007bff; border: none; border-radius: 5px; text-decoration: none; margin: 10px 0;">Réinitialiser le mot de passe</a>

    <p style="color: #555;">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p style="color: #555;">Cordialement,</p>
</body>
</html>
