<form method="post" action="{{ path('app_emplacement_delete', {'id': emplacement.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la ligne?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
        <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>

</form>
