{% extends 'base.html.twig' %}

{% block title %}Modifier l'emplacement{% endblock %}

{% block body %}

    {{ include('emplacement/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}

{% block widget %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <a href="{{ path('app_emplacement_index') }}" class="btn btn-dark btn-sm"><i class="fas fa-fw fa-arrow-left mr-2"></i>Retour</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block widget_droite %}
            {{ include('emplacement/_delete_form.html.twig') }}
{% endblock %}