
  <div class="row">
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="stockinventairet">Stock au date d'inventaire</label>
      <input type="text" class="form-control" name="inventaire[stockinventairet]" required>
    </div>
    <div class="col">
      <label for="stockutiliser">Stock Utiliser</label>
      <input type="text" class="form-control" name="inventaire[stockutiliser]" required>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="ecart">Ecart</label>
      <input type="text" class="form-control" name="inventaire[ecart]" required>
    </div>
    <div class="col">
      <label for="note">Note</label>
      <input type="text" class="form-control" name="inventaire[note]">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <button type="submit" class="btn btn-success btn-sm"> Enregistrer </button>
    </div>
  </div>

