{% extends 'content.html.twig' %}


{% block title %}Nouvelle vente{% endblock %}



{% block table %}
{% include '_alert/_new.html.twig' %}

    {{ include('vente/_form.html.twig') }}

{% endblock %}

{% block widget %}
    <a href="{{ path('app_vente_index') }}" class="btn btn-dark btn-sm"><i class="fas fa-fw fa-arrow-left mr-2"></i>Retour</a>
{% endblock %}

{% block widget_droite %}

{% endblock %}