<form method="post" action="{{ path('app_commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la ligne?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
</form>
