<form method="post" action="{{ path('app_fournisseur_delete', {'id': fournisseur.id| nzo_encrypt}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la ligne?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
</form>
