{% extends 'content.html.twig' %}

{% block title %}Nouveau Fournisseur{% endblock %}

{% block table %}
    <h1>Create new Fournisseur</h1>

    {{ include('fournisseur/_form.html.twig') }}

    <a href="{{ path('app_fournisseur_index') }}">back to list</a>
{% endblock %}
