{# <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#achatModal">
    <button class="btn btn-success btn-sm">
        Valider l'achat
    </button>
</a> #}

<!-- Achat Modal -->
<div class="modal fade" id="achatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Validation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir valider cet achat ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{{ path('app_achat_new') }}">{{ button_label|default('Enregistrer') }}</a>
            </div>
        </div>
    </div>
</div>