{% extends 'content.html.twig' %}

{% block title %}New Achat{% endblock %}

{% block table %}


    {{ include('achat/_form.html.twig') }}

{% endblock %}

{% block widget %}
    <a href="{{ path('app_achat_index') }}" class="btn btn-dark btn-sm"><i class="fas fa-fw fa-arrow-left mr-2"></i>Retour</a>
{% endblock %}

{% block widget_droite %}

{% endblock %}
